div .col-12 {
    margin: 0;
    padding: 0;
}

#vitt {
    height: auto; 
    margin: 1rem;
    max-width: 100%;  
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
  transition: width 2s, height 2s, transform 2s;
}
#vitt:hover {
    height: auto;
    max-width: 100%;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}


#CV {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li:hover {
    background-color:#21252a;
    color: white;
    border-radius: 5px;
    
}

span:hover{
    color: white;
}

