div .col-12 {
    margin: 0;
    padding: 0;
}

#vitt {
    height: auto; 
    margin: 1rem;
    max-width: 100%;  
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
  transition: width 2s, height 2s, transform 2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#vitt:hover {
    height: auto;
    max-width: 100%;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}


#CV {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li:hover {
    background-color:#21252a;
    color: white;
    border-radius: 5px;
    
}

span:hover{
    color: white;
}
.carousel{
background-color: darkorchid;

}

span .carousel-control-prev-icon{
    background-color: #21252a;
}


#redes{
    overflow: hidden;
    margin-left: 0;
    padding: 5px;
}
.fab{
max-width: 100%;
transition: all 0.3s;
font-size: 40px;
margin-left: 10px;

}
.fab:hover{
    transform: scale(1.2);
}
h3{
    max-width: 100%;
transition: all 0.3s;
}
h3:hover{
    transform: scale(1.2);
}
#imagens{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.imgs{
    height: 100px;
    max-width: 100%;
    transition: all 0.3s;
}
.imgs:hover{
    transform: scale(1.2);
}